@import './variables.scss';

.navBar{
    width: 100%;
    padding-left: rem(20px);
    padding-right: rem(20px);
    background-color: $color-black;
    padding-top: rem(20px);
    padding-bottom: rem(20px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--logo{
        height: 100%;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &-link{
            color: $color-white;
            font-size: rem(32px);
            font-weight: 700;
            text-decoration: none;
        }
    }



}
